.transactionlist {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top:20px;
}

.transactionlist-array {
    width: 60%;
}

table {
    border-collapse: collapse;
}

.transactionlist-array_head {
    padding-bottom: 10px;
}

span {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
}

td {
    font-weight: 600;
    background-color: white;
    text-align: center;
    padding: 10px;
}

.transactionlist-array_line {
    border: 1px solid #ccc;
}

.transactionlist-array_line_button {
    background-color: white;
    border: none;
    cursor: pointer;
}